.headingButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerContainWrapper {
    display: flex;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}